* {
  box-sizing: border-box;
  font-family: Arial;
  margin: auto;
  background-color: aliceblue;
  height: auto;
}
main {
  padding: 50px;
  max-width: 500px;
}
.center {
  text-align: center;
}
.imgborder {
  border-color: black;
  border: 1px;
}
p, li, ol, ul {
  font-size: 14px;
}
