* {
  box-sizing: border-box;
  font-family: Arial;
}

main {
  background-color: aqua;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}
img {
  border-color: white;
  border: 1px;
}
