* {
  box-sizing: border-box;
  font-family: Arial;
  margin: auto;
  background-color: aliceblue;
}

main {
  padding: 50px;
  background-color: aqua;
  max-width: 500px;
}
.center {
  text-align: center;
}
.imgborder {
  border-color: black;
  border: 1px;
}
